.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-width: 282px;
}

.card__image {
  height: 282px;
  width: auto;
}

.card__info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
