.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-width: 282px;
  position: relative;
}

.card__img {
  height: 282px;
  width: auto;
  cursor: pointer;
}

.card__remove-button {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 15px;
  background-image: url(../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  max-width: 18px;
  height: 19.3px;
  width: 100%;
}

.card__remove-button:hover {
  opacity: 0.6;
}

.card__info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 25px 21px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-elements {
  display: flex;
  flex-direction: column;
  max-width: 20px;
  width: 100%;
  align-items: center;
  gap: 3px;
}

.card__like-counter {
  margin: 0;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/filled-heart.png);
}
