.logo {
  height: 33px;
  width: 173px;
  padding-bottom: 41px;
}

@media screen and (max-width: 775px) {
  .logo {
    padding-bottom: 32px;
    padding-left: 27px;
    height: 24px;
    width: 126px;
  }
}
