.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 51px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__profile-info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-left: 30px;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  flex-basis: 100%;
  margin: 0;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background-color: transparent;
  background-image: url(../images/pencil.svg);
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  padding: 0;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
    margin: auto;
    padding-bottom: 36px;
    padding-top: 38.25px;
  }

  .profile__profile-info {
    justify-content: center;
    padding-top: 26.25px;
    padding-left: 0;
  }

  .profile__name {
    font-size: 22px;
    max-width: 282px;
  }

  .profile__title {
    text-align: center;
    font-size: 14px;
    max-width: 282px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin: auto;
    margin-top: 36px;
  }
}
